body {
  background-color: #141414;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 50px;
}

.navbar {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
}

.hero {
  width: 100%;
  margin-top: -100px;
  padding: 0;
}

.info-section {
  position: absolute;
  margin-top: 30%;
  margin-left: 50px;
  width: 600px;
}

.movie-section {
  display: flex;
}

.button-section {
  display: flex;
}

.button {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  margin: 3px;
}

.more {
  background-color: rgba(255,255,255, 0.5);
}

.card {
  width: 230px;
  border-radius: 5px;
  margin: 2px;
  transition: transform 500ms;
  position: relative;
  display: block;
}

video {
  width: 100%;
  border-radius: 5px;
}

.hero-video {
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  margin-bottom: 30px;
}

video::-webkit-media-controls {
  display: none;
}

.movie-section:focus-within .card,
.movie-section:focus, .card {
  transform: translate(-25%);
  z-index: 1;
}

.card:focus ~ .card,
.card:hover ~ .card {
  transform: translateX(25%)
}

.movie-section .card:focus,
.movie-section .card:hover {
  transform: scale(1.5);
  z-index: 1;
  background-color: #212121;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.5),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.5);
}

.more-button {
  height: 100%;
  display: flex;
  padding: 40px 10px;
  border-radius: 0 10px 10px 0;
}

.fas {
  margin: 0 5px;
}

.logo {
  width: 88px;
  height: 22px;
  background-image: url('https://kseniia-storage.s3.us-east-1.amazonaws.com/pic.png?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBkaCXVzLWVhc3QtMSJGMEQCIFh1uc8E2alxdMaZZDB46AQdURKSiDA5%2BBh3pi%2BHpCOnAiBP1ohx34MJbX7wIHZqDxjZVJoyfg0o5U%2BdZxWUaiKGPSrkBAjB%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDcxMTEyOTM3NTY4OCIMDhntPj92lzrK4JOjKrgE6RVhc1bhKzB24X9GlJejoEcw%2FGq3oShVXwHcOVIxg96UaWWXbyShEYkPTUkNEjQICC3EYkFIZTfjrnAbD0vY1sDd0EjfQr%2BAwii2M%2FukpxtwndKVMhbb7%2FUTxki5O4QzNLp3YYecmnWuK564T8NdEmwY%2Fs0Lbk8gFXspiRGHyDdaU9zrIHrliTtknbB30ae%2FqkG4grPXpEl3flTa7UPF5wa3Pf63FI1udjeZ447x1%2FB41zycelRhii77oZW%2BVbHgcHPKIfEmDhT6gFcDspgJJ7tT99F0Grb4KP%2B9KWKwTAMdINj7nUZLcNXhEMgiqjx8EjghERu9LZxIjI3zFE4LTUGRVh4yRTboXc0ieIUluWdQ3d5zg6uioYoXj2rnd0IPQFKcXX8pdcPDikjM%2B9vm6xawlLc6%2Bv%2FF3K4%2FQE7mwc4DQ1R1vfE8Wdxdom9ChaFKSTVi26itoiGC%2BFUUp0K7%2BrFkcNGRS39UfHsCmDSuyew4%2FMlRcyxyZe9rdc0dHvgIndA4tQ057mvMGxNToyUnVnXAecddurCGl7wTE%2FF6hrR2cb17I67%2Fpd6XHmpruiaUuasXWYq073VpadZFun9QDwzN5u9oqxD7mEFhymOk4TZNzghhz0Bp3S3BKzsUQKyqB8Jmpyul1i%2Bd9B0u3wq6k%2BfN658P%2BkzmyjJUHmmXf89ManU%2FltZu%2BeMGSNEbotn%2BDTceSsWsy%2BLQbBpfQVsbHDwpvkcW%2BT7uwiRwbdNjw6FE22RPshyLtzDB%2B%2FCSBjqMAuiyxaKHUhUPOzobGBfDGm%2Ftw9EQMSSgcL6vayCfF0Ujh6R%2BAHvC%2FHiwK7aWnLBiA41gqT5Hvt9%2BI8PISwlrjrebPoRtgWdv%2Fh3UiZjbbU7v0%2FtjfDgSM2YLtl7wwlrkjo2F5WRvsyFpyU2QprPEjjvk4tTPvTYPDaMSY0MjMG2x9QvoiOHmCKEENP1sKrKevquwQJCSoRfGmu4sbuUI%2Bp6iKCBrQS%2Bx7bqK8hMkZNepK1TWYL%2Fp7MHs7vXABq23PdbqbS94cmEpdAA9z9%2FsS5bXR6rskOPnAI3mvQ5XgZXjBtCHzspJoXqiiu%2BLoBaaz41eJqjWyLJk5Sus5Ql0JahagcClVOdB1v77mhY%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220417T161927Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA2LEU5EPEPPT57Y7N%2F20220417%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=ae5e45f96a7cc84bcecfe49c5fc28a05edf24c2f6b5202649e3c1df99a201292');
  background-size: 88px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

.more-button:hover {
  background-color: rgb(255,255,255, 0.5);
}

.page-end {
  width: 100%;
  height: 300px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 0 10px;
}

.info-box {
  width: 100%;
  z-index: 5;
  padding: 10px;
}

